.mainheads-1{color: #000; font-size: 25px; line-height: 30px; font-weight: 700; margin: 0 0 15px 0; padding: 0;}

.comanbutton{ display: inline-block; background-color: #e2a23f; padding: 16px 45px; border-radius: 5rem; color: #000 !important ; text-decoration: none; font-weight: 600; text-transform: uppercase; border: 0; }
.comanbutton > span{ display: flex; align-items: center; justify-content: cnter; }
.comanbutton svg{ width: 0px;  transition: .3s ease-out;}
.comanbutton:hover svg{ width: 8px;margin-left: 6px; }

@media(min-width: 768px){
.mainheads-1{color: #000; font-size: 40px; line-height: 45px; font-weight: 700;  padding: 0;}
    
}